## create a series by passing a list of values

In [6]:
import pandas as pd
a=pd.Series([1,2,3,4])
print(a)

0    1
1    2
2    3
3    4
dtype: int64

## missing values

In [11]:
import numpy as np
a1=pd.Series([1,2,3,np.nan,5])
print(a1)

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

## CREATE LIST OF DATES IN A PARTICULAR RANGE

In [13]:
dates=pd.date_range('20190601',periods=10)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
a1=pd.dataframe(np.random)

In [24]:
a3=pd.DataFrame({'a':1,
                'b':pd.Timestamp('20190601'),
                'c':pd.Series(1,index=list(range(4)),dtype='float32'),
                'd':np.array([3]*4,dtype='int32'),
                'e':pd.Categorical(["test","train","test","train"]),
                'f':'foo'})
print(a3)

   a          b    c  d      e    f
0  1 2019-06-01  1.0  3   test  foo
1  1 2019-06-01  1.0  3  train  foo
2  1 2019-06-01  1.0  3   test  foo
3  1 2019-06-01  1.0  3  train  foo

In [ ]:
## turtle is a python feature like a drawing board
## Lines,Squares,Stars,Rectand etc
## Turtle() -- It creates and returns a new turtle object

In [ ]:
import turtle as tt
a1=tt.Turtle()
tt.forward(100)
tt.done()

In [ ]:
## drawing a square
import turtle as tt
a1=tt.Turtle()
a1.forward(150)
a1.right(50)

a1.forward(150)
a1.right(50)

a1.forward(150)
a1.right(50)

a1.forward(150)
a1.right(50)

tt